In [116]:
#!pip install scikit-learn seaborn matplotlib pandas numpy

In [117]:
#!pip install scikit-learn seaborn matplotlib pandas numpy

In [118]:
#!pip install pandas numpy scikit-learn seaborn matplotlib

In [119]:
import pandas as pd
import json
import numpy as np
from sklearn.impute import SimpleImputer
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

In [120]:
df1 = pd.read_json('spaceX_Lunch.json')
df1.head(5)

,fairings,links,static_fire_date_utc,static_fire_date_unix,net,window,rocket,success,failures,details,crew,ships,capsules,payloads,launchpad,flight_number,name,date_utc,date_unix,date_local,date_precision,upcoming,cores,auto_update,tbd,launch_library_id,id
0,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,2006-03-17T00:00:00.000Z,1.142554e+09,False,0.0,5e9d0d95eda69955f709d1eb,0.0,"[{'time': 33, 'altitude': None, 'reason': 'mer...",Engine failure at 33 seconds and loss of vehicle,[],[],[],[5eb0e4b5b6c3bb0006eeb1e1],5e9e4502f5090995de566f86,1,FalconSat,2006-03-24T22:30:00.000Z,1143239400,2006-03-25T10:30:00+12:00,hour,False,"[{'core': '5e9e289df35918033d3b2623', 'flight'...",True,False,None,5eb87cd9ffd86e000604b32a
1,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,0.0,"[{'time': 301, 'altitude': 289, 'reason': 'har...",Successful first stage burn and transition to ...,[],[],[],[5eb0e4b6b6c3bb0006eeb1e2],5e9e4502f5090995de566f86,2,DemoSat,2007-03-21T01:10:00.000Z,1174439400,2007-03-21T13:10:00+12:00,hour,False,"[{'core': '5e9e289ef35918416a3b2624', 'flight'...",True,False,None,5eb87cdaffd86e000604b32b
2,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,0.0,"[{'time': 140, 'altitude': 35, 'reason': 'resi...",Residual stage 1 thrust led to collision betwe...,[],[],[],"[5eb0e4b6b6c3bb0006eeb1e3, 5eb0e4b6b6c3bb0006e...",5e9e4502f5090995de566f86,3,Trailblazer,2008-08-03T03:34:00.000Z,1217734440,2008-08-03T15:34:00+12:00,hour,False,"[{'core': '5e9e289ef3591814873b2625', 'flight'...",True,False,None,5eb87cdbffd86e000604b32c
3,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,2008-09-20T00:00:00.000Z,1.221869e+09,False,0.0,5e9d0d95eda69955f709d1eb,1.0,[],Ratsat was carried to orbit on the first succe...,[],[],[],[5eb0e4b7b6c3bb0006eeb1e5],5e9e4502f5090995de566f86,4,RatSat,2008-09-28T23:15:00.000Z,1222643700,2008-09-28T11:15:00+12:00,hour,False,"[{'core': '5e9e289ef3591855dc3b2626', 'flight'...",True,False,None,5eb87cdbffd86e000604b32d
4,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,1.0,[],None,[],[],[],[5eb0e4b7b6c3bb0006eeb1e6],5e9e4502f5090995de566f86,5,RazakSat,2009-07-13T03:35:00.000Z,1247456100,2009-07-13T15:35:00+12:00,hour,False,"[{'core': '5e9e289ef359184f103b2627', 'flight'...",True,False,None,5eb87cdcffd86e000604b32e

### Repaso Pandas

#### Los Datos
Este conjunto de datos proporciona información detallada sobre lanzamientos de cohetes:

- **fairings**: Información sobre las carenas del cohete.
- **links**: Varios enlaces externos relacionados con el lanzamiento.
- **static_fire_date_utc**: Fecha de la prueba estática de encendido en formato UTC.
- **static_fire_date_unix**: Fecha de la prueba estática de encendido en marca de tiempo Unix.
- **net**: Booleano que indica si es un lanzamiento NET (No Earlier Than).
- **window**: Duración de la ventana de lanzamiento en segundos.
- **rocket**: ID del cohete utilizado en el lanzamiento.
- **success**: Booleano que indica el éxito del lanzamiento.
- **failures**: Información sobre cualquier fallo en el lanzamiento.
- **details**: Detalles sobre el lanzamiento y su resultado.
- **crew**: Información sobre el personal involucrado.
- **ships**: Lista de barcos involucrados en el lanzamiento.
- **capsules**: Información sobre cualquier cápsula utilizada.
- **payloads**: Lista de cargas útiles transportadas por el cohete.
- **launchpad**: ID de la plataforma de lanzamiento utilizada para el lanzamiento.
- **flight_number**: Número de vuelo único del lanzamiento.
- **name**: Nombre de la misión o lanzamiento.
- **date_utc**: Fecha de lanzamiento en formato UTC.
- **date_unix**: Fecha de lanzamiento en marca de tiempo Unix.
- **date_local**: Fecha y hora local del lanzamiento.
- **date_precision**: Precisión de la fecha y hora del lanzamiento.
- **upcoming**: Booleano que indica si el lanzamiento está próximo.
- **cores**: Información sobre núcleos del cohete.
- **auto_update**: Booleano que indica si los datos se actualizan automáticamente.
- **tbd**: Booleano que indica si los detalles del lanzamiento están por determinar (TBD).
- **launch_library_id**: ID relacionado con el lanzamiento en una biblioteca.
- **id**: Identificador único del lanzamiento.

**645KB**  
**spaceX_Lunch.json**

#### El objetivo
En esta sesión, repasaremos los conceptos clave de Pandas aprendidas en las semanas anteriores. Algunos conceptos que repasaremos son:

- **Indexación y Selección**: Recordaremos cómo seleccionar y filtrar datos utilizando métodos de indexación, incluyendo `loc` e `iloc`, así como técnicas para filtrar filas y columnas basadas en condiciones lógicas.
- **Limpieza de Datos**: Recordaremos estrategias para manejar datos faltantes (NaN) y duplicados mediante métodos como `dropna()`, `fillna()`.
- **Aplicación de Funciones (`apply`)**: Revisaremos cómo utilizar `apply` para aplicar funciones a lo largo de columnas, útil para transformaciones complejas en conjuntos de datos.
- **Groupby**: Utilizaremos `groupby` para dividir datos en grupos basados en criterios específicos, permitiendo realizar cálculos agregados, resúmenes y análisis detallados para cada grupo.

**Solución:**  
**192KB**  
**repaso-i.ipynb**

_ _ _

# Empiezan los Ejercicios de Repaso

### Empezamos haciendo un análisis de los datos del json

In [121]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   fairings               169 non-null    object
 1   links                  205 non-null    object
 2   static_fire_date_utc   121 non-null    object
 3   static_fire_date_unix  121 non-null    float64
 4   net                    205 non-null    bool
 5   window                 117 non-null    float64
 6   rocket                 205 non-null    object
 7   success                186 non-null    float64
 8   failures               205 non-null    object
 9   details                134 non-null    object
 10  crew                   205 non-null    object
 11  ships                  205 non-null    object
 12  capsules               205 non-null    object
 13  payloads               205 non-null    object
 14  launchpad              205 non-null    object
 15  flight_number          205 non-null    int64
 16  name                   205 non-null    object
 17  date_utc               205 non-null    object
 18  date_unix              205 non-null    int64
 19  date_local             205 non-null    object
 20  date_precision         205 non-null    object
 21  upcoming               205 non-null    bool
 22  cores                  205 non-null    object
 23  auto_update            205 non-null    bool
 24  tbd                    205 non-null    bool
 25  launch_library_id      72 non-null     object
 26  id                     205 non-null    object
dtypes: bool(4), float64(3), int64(2), object(18)
memory usage: 37.8+ KB

In [122]:
df1.describe

<bound method NDFrame.describe of                                               fairings  \
0    {'reused': False, 'recovery_attempt': False, '...
1    {'reused': False, 'recovery_attempt': False, '...
2    {'reused': False, 'recovery_attempt': False, '...
3    {'reused': False, 'recovery_attempt': False, '...
4    {'reused': False, 'recovery_attempt': False, '...
..                                                 ...
200  {'reused': None, 'recovery_attempt': None, 're...
201  {'reused': None, 'recovery_attempt': None, 're...
202  {'reused': None, 'recovery_attempt': None, 're...
203  {'reused': None, 'recovery_attempt': None, 're...
204  {'reused': None, 'recovery_attempt': None, 're...

                                                 links  \
0    {'patch': {'small': 'https://images2.imgbox.co...
1    {'patch': {'small': 'https://images2.imgbox.co...
2    {'patch': {'small': 'https://images2.imgbox.co...
3    {'patch': {'small': 'https://images2.imgbox.co...
4    {'patch': {'small': 'https://images2.imgbox.co...
..                                                 ...
200  {'patch': {'small': None, 'large': None}, 'red...
201  {'patch': {'small': None, 'large': None}, 'red...
202  {'patch': {'small': None, 'large': None}, 'red...
203  {'patch': {'small': None, 'large': None}, 'red...
204  {'patch': {'small': None, 'large': None}, 'red...

         static_fire_date_utc  static_fire_date_unix    net  window  \
0    2006-03-17T00:00:00.000Z           1.142554e+09  False     0.0
1                        None                    NaN  False     0.0
2                        None                    NaN  False     0.0
3    2008-09-20T00:00:00.000Z           1.221869e+09  False     0.0
4                        None                    NaN  False     0.0
..                        ...                    ...    ...     ...
200                      None                    NaN  False     NaN
201                      None                    NaN  False     NaN
202                      None                    NaN  False     NaN
203                      None                    NaN  False     NaN
204                      None                    NaN  False     NaN

                       rocket  success  \
0    5e9d0d95eda69955f709d1eb      0.0
1    5e9d0d95eda69955f709d1eb      0.0
2    5e9d0d95eda69955f709d1eb      0.0
3    5e9d0d95eda69955f709d1eb      1.0
4    5e9d0d95eda69955f709d1eb      1.0
..                        ...      ...
200  5e9d0d95eda69973a809d1ec      NaN
201  5e9d0d95eda69973a809d1ec      NaN
202  5e9d0d95eda69973a809d1ec      NaN
203  5e9d0d95eda69974db09d1ed      NaN
204  5e9d0d95eda69973a809d1ec      NaN

                                              failures  \
0    [{'time': 33, 'altitude': None, 'reason': 'mer...
1    [{'time': 301, 'altitude': 289, 'reason': 'har...
2    [{'time': 140, 'altitude': 35, 'reason': 'resi...
3                                                   []
4                                                   []
..                                                 ...
200                                                 []
201                                                 []
202                                                 []
203                                                 []
204                                                 []

                                               details crew ships capsules  \
0     Engine failure at 33 seconds and loss of vehicle   []    []       []
1    Successful first stage burn and transition to ...   []    []       []
2    Residual stage 1 thrust led to collision betwe...   []    []       []
3    Ratsat was carried to orbit on the first succe...   []    []       []
4                                                 None   []    []       []
..                                                 ...  ...   ...      ...
200                                               None   []    []       []
201                                               None   []    []       []
202                                               None   []    []       []
203                                               None   []    []       []
204                                               None   []    []       []

                                              payloads  \
0                           [5eb0e4b5b6c3bb0006eeb1e1]
1                           [5eb0e4b6b6c3bb0006eeb1e2]
2    [5eb0e4b6b6c3bb0006eeb1e3, 5eb0e4b6b6c3bb0006e...
3                           [5eb0e4b7b6c3bb0006eeb1e5]
4                           [5eb0e4b7b6c3bb0006eeb1e6]
..                                                 ...
200                                                 []
201                         [63161760ffc78f3b8567071c]
202                         [6243b896af52800c6e91926e]
203                                                 []
204                         [6243b788af52800c6e91926b]

                    launchpad  flight_number                    name  \
0    5e9e4502f5090995de566f86              1               FalconSat
1    5e9e4502f5090995de566f86              2                 DemoSat
2    5e9e4502f5090995de566f86              3             Trailblazer
3    5e9e4502f5090995de566f86              4                  RatSat
4    5e9e4502f5090995de566f86              5                RazakSat
..                        ...            ...                     ...
200  5e9e4501f509094ba4566f84            198           Transporter-6
201  5e9e4502f509092b78566f87            199                   TTL-1
202  5e9e4501f509094ba4566f84            200  WorldView Legion 1 & 2
203  5e9e4502f509094188566f88            202     Viasat-3 & Arcturus
204  5e9e4501f509094ba4566f84            203          O3b mPower 3.4

                     date_utc   date_unix                 date_local  \
0    2006-03-24T22:30:00.000Z  1143239400  2006-03-25T10:30:00+12:00
1    2007-03-21T01:10:00.000Z  1174439400  2007-03-21T13:10:00+12:00
2    2008-08-03T03:34:00.000Z  1217734440  2008-08-03T15:34:00+12:00
3    2008-09-28T23:15:00.000Z  1222643700  2008-09-28T11:15:00+12:00
4    2009-07-13T03:35:00.000Z  1247456100  2009-07-13T15:35:00+12:00
..                        ...         ...                        ...
200  2022-12-01T00:00:00.000Z  1669852800  2022-11-30T19:00:00-05:00
201  2022-12-01T00:00:00.000Z  1669852800  2022-11-30T16:00:00-08:00
202  2022-12-01T00:00:00.000Z  1669852800  2022-11-30T19:00:00-05:00
203  2022-12-01T00:00:00.000Z  1669852800  2022-11-30T19:00:00-05:00
204  2022-12-01T00:00:00.000Z  1669852800  2022-11-30T19:00:00-05:00

    date_precision  upcoming  \
0             hour     False
1             hour     False
2             hour     False
3             hour     False
4             hour     False
..             ...       ...
200          month      True
201          month      True
202          month      True
203          month      True
204          month      True

                                                 cores  auto_update    tbd  \
0    [{'core': '5e9e289df35918033d3b2623', 'flight'...         True  False
1    [{'core': '5e9e289ef35918416a3b2624', 'flight'...         True  False
2    [{'core': '5e9e289ef3591814873b2625', 'flight'...         True  False
3    [{'core': '5e9e289ef3591855dc3b2626', 'flight'...         True  False
4    [{'core': '5e9e289ef359184f103b2627', 'flight'...         True  False
..                                                 ...          ...    ...
200  [{'core': None, 'flight': None, 'gridfins': Tr...         True  False
201  [{'core': None, 'flight': None, 'gridfins': No...         True  False
202  [{'core': None, 'flight': None, 'gridfins': No...         True  False
203  [{'core': None, 'flight': None, 'gridfins': Tr...         True  False
204  [{'core': None, 'flight': None, 'gridfins': No...         True  False

    launch_library_id                        id
0                None  5eb87cd9ffd86e000604b32a
1                None  5eb87cdaffd86e000604b32b
2                None  5eb87cdbffd86e000604b32c
3                None  5eb87cdbffd86e000604b32d
4                None  5eb87cdcffd86e000604b32e
..                ...                       ...
200              None  633f72580531f07b4fdf59c6
201              None  63161384ffc78f3b8567070e
202              None  6243ae58af52800c6e91925a
203              None  633f72130531f07b4fdf59c3
204              None  6243ae7daf52800c6e91925b

[205 rows x 27 columns]>

In [123]:
df1.shape

(205, 27)

In [124]:
df1.columns

Index(['fairings', 'links', 'static_fire_date_utc', 'static_fire_date_unix',
       'net', 'window', 'rocket', 'success', 'failures', 'details', 'crew',
       'ships', 'capsules', 'payloads', 'launchpad', 'flight_number', 'name',
       'date_utc', 'date_unix', 'date_local', 'date_precision', 'upcoming',
       'cores', 'auto_update', 'tbd', 'launch_library_id', 'id'],
      dtype='object')

### Lo convertimos a `CSV` para que sea más fácil su lectura a simple vista, como apoyo

In [125]:
df1.to_csv('Cohetes1.csv')

### Creamos un bucle `for` con un `loc` para poder acceder a cada columna de forma fácil y cuándo queramos

In [126]:
columnas = ['fairings', 'links', 'static_fire_date_utc', 'static_fire_date_unix',
            'net', 'window', 'rocket', 'success', 'failures', 'details', 'crew',
            'ships', 'capsules', 'payloads', 'launchpad', 'flight_number', 'name',
            'date_utc', 'date_unix', 'date_local', 'date_precision', 'upcoming',
            'cores', 'auto_update', 'tbd', 'launch_library_id', 'id']


datos_columnas_dict = {}

for columna in columnas: 
    datos_columnas_dict[columna] = df1.loc[:, columna]

# Ahora podemos usar datos_columnas_dict['columna'] para acceder a los datos de cada columna por su nombre
# Ejemplo 
datos_columnas_dict ['fairings']

0      {'reused': False, 'recovery_attempt': False, '...
1      {'reused': False, 'recovery_attempt': False, '...
2      {'reused': False, 'recovery_attempt': False, '...
3      {'reused': False, 'recovery_attempt': False, '...
4      {'reused': False, 'recovery_attempt': False, '...
                             ...
200    {'reused': None, 'recovery_attempt': None, 're...
201    {'reused': None, 'recovery_attempt': None, 're...
202    {'reused': None, 'recovery_attempt': None, 're...
203    {'reused': None, 'recovery_attempt': None, 're...
204    {'reused': None, 'recovery_attempt': None, 're...
Name: fairings, Length: 205, dtype: object

### Sacamos las columnas que tienen nulos

In [127]:
cantidad_nulos = []
for columna in columnas:
    cantidad_nulos = df1[columnas].isnull().sum()
    
cantidad_nulos

fairings                  36
links                      0
static_fire_date_utc      84
static_fire_date_unix     84
net                        0
window                    88
rocket                     0
success                   19
failures                   0
details                   71
crew                       0
ships                      0
capsules                   0
payloads                   0
launchpad                  0
flight_number              0
name                       0
date_utc                   0
date_unix                  0
date_local                 0
date_precision             0
upcoming                   0
cores                      0
auto_update                0
tbd                        0
launch_library_id        133
id                         0
dtype: int64

In [128]:
df1['fairings'].str.split(',')
df1

,fairings,links,static_fire_date_utc,static_fire_date_unix,net,window,rocket,success,failures,details,crew,ships,capsules,payloads,launchpad,flight_number,name,date_utc,date_unix,date_local,date_precision,upcoming,cores,auto_update,tbd,launch_library_id,id
0,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,2006-03-17T00:00:00.000Z,1.142554e+09,False,0.0,5e9d0d95eda69955f709d1eb,0.0,"[{'time': 33, 'altitude': None, 'reason': 'mer...",Engine failure at 33 seconds and loss of vehicle,[],[],[],[5eb0e4b5b6c3bb0006eeb1e1],5e9e4502f5090995de566f86,1,FalconSat,2006-03-24T22:30:00.000Z,1143239400,2006-03-25T10:30:00+12:00,hour,False,"[{'core': '5e9e289df35918033d3b2623', 'flight'...",True,False,None,5eb87cd9ffd86e000604b32a
1,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,0.0,"[{'time': 301, 'altitude': 289, 'reason': 'har...",Successful first stage burn and transition to ...,[],[],[],[5eb0e4b6b6c3bb0006eeb1e2],5e9e4502f5090995de566f86,2,DemoSat,2007-03-21T01:10:00.000Z,1174439400,2007-03-21T13:10:00+12:00,hour,False,"[{'core': '5e9e289ef35918416a3b2624', 'flight'...",True,False,None,5eb87cdaffd86e000604b32b
2,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,0.0,"[{'time': 140, 'altitude': 35, 'reason': 'resi...",Residual stage 1 thrust led to collision betwe...,[],[],[],"[5eb0e4b6b6c3bb0006eeb1e3, 5eb0e4b6b6c3bb0006e...",5e9e4502f5090995de566f86,3,Trailblazer,2008-08-03T03:34:00.000Z,1217734440,2008-08-03T15:34:00+12:00,hour,False,"[{'core': '5e9e289ef3591814873b2625', 'flight'...",True,False,None,5eb87cdbffd86e000604b32c
3,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,2008-09-20T00:00:00.000Z,1.221869e+09,False,0.0,5e9d0d95eda69955f709d1eb,1.0,[],Ratsat was carried to orbit on the first succe...,[],[],[],[5eb0e4b7b6c3bb0006eeb1e5],5e9e4502f5090995de566f86,4,RatSat,2008-09-28T23:15:00.000Z,1222643700,2008-09-28T11:15:00+12:00,hour,False,"[{'core': '5e9e289ef3591855dc3b2626', 'flight'...",True,False,None,5eb87cdbffd86e000604b32d
4,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,1.0,[],None,[],[],[],[5eb0e4b7b6c3bb0006eeb1e6],5e9e4502f5090995de566f86,5,RazakSat,2009-07-13T03:35:00.000Z,1247456100,2009-07-13T15:35:00+12:00,hour,False,"[{'core': '5e9e289ef359184f103b2627', 'flight'...",True,False,None,5eb87cdcffd86e000604b32e
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,"{'reused': None, 'recovery_attempt': None, 're...","{'patch': {'small': None, 'large': None}, 'red...",None,NaN,False,NaN,5e9d0d95eda69973a809d1ec,NaN,[],None,[],[],[],[],5e9e4501f509094ba4566f84,198,Transporter-6,2022-12-01T00:00:00.000Z,1669852800,2022-11-30T19:00:00-05:00,month,True,"[{'core': None, 'flight': None, 'gridfins': Tr...",True,False,None,633f72580531f07b4fdf59c6
201,"{'reused': None, 'recovery_attempt': None, 're...","{'patch': {'small': None, 'large': None}, 'red...",None,NaN,False,NaN,5e9d0d95eda69973a809d1ec,NaN,[],None,[],[],[],[63161760ffc78f3b8567071c],5e9e4502f509092b78566f87,199,TTL-1,2022-12-01T00:00:00.000Z,1669852800,2022-11-30T16:00:00-08:00,month,True,"[{'core': None, 'flight': None, 'gridfins': No...",True,False,None,63161384ffc78f3b8567070e
202,"{'reused': None, 'recovery_attempt': None, 're...","{'patch': {'small': None, 'large': None}, 'red...",None,NaN,False,NaN,5e9d0d95eda69973a809d1ec,NaN,[],None,[],[],[],[6243b896af52800c6e91926e],5e9e4501f509094ba4566f84,200,WorldView Legion 1 & 2,2022-12-01T00:00:00.000Z,1669852800,2022-11-30T19:00:00-05:00,month,True,"[{'core': None, 'flight': None, 'gridfins': No...",True,False,None,6243ae58af52800c6e91925a
203,"{'reused': None, 'recovery_attempt': None, 're...","{'patch': {'small': None, 'large': None}, 'red...",None,NaN,False,NaN,5e9d0d95eda69974db09d1ed,NaN,[],None,[],[],[],[],5e9e4502f509094188566f88,202,Viasat-3 & Arcturus,2022-12-01T00:00:00.000Z,1669852800,2022-11-30T19:00:00-05:00,month,True,"[{'core': None, 'flight': None, 'gridfins': Tr...",True,False,None,633f72130531f07b4fdf59c3
204,"{'reused': None, 'recovery_attempt': None, 're...","{'patch': {'small': None, 'large': None}, 'red...",None,NaN,False,NaN,5e9d0d95eda69973a809d1ec,NaN,[],None,[],[],[],[6243b788af52800c6e91926b],5e9e4501f509094ba4566f84,203,O3b mPower 3.4,2022-12-01T00:00:00.000Z,1669852800,2022-11-30T19:00:00-05:00,month,True,"[{'core': None, 'flight': None, 'gridfins': No...",True,False,None,6243ae7daf52800c6e91925b

### Hacemos primero una práctica con 'fairings' para dividir su contenido en varias columnas

In [129]:
fairings_convertido = df1['fairings'].apply(lambda x: pd.Series(x, dtype=object))
fairings_convertido.head(2)

  reused recovery_attempt recovered ships
0  False            False     False    []
1  False            False     False    []

In [130]:
df2 = pd.concat([df1.drop(columns=['fairings']), fairings_convertido], axis=1)
df2.head(2)

,links,static_fire_date_utc,static_fire_date_unix,net,window,rocket,success,failures,details,crew,ships,capsules,payloads,launchpad,flight_number,name,date_utc,date_unix,date_local,date_precision,upcoming,cores,auto_update,tbd,launch_library_id,id,reused,recovery_attempt,recovered,ships
0,{'patch': {'small': 'https://images2.imgbox.co...,2006-03-17T00:00:00.000Z,1.142554e+09,False,0.0,5e9d0d95eda69955f709d1eb,0.0,"[{'time': 33, 'altitude': None, 'reason': 'mer...",Engine failure at 33 seconds and loss of vehicle,[],[],[],[5eb0e4b5b6c3bb0006eeb1e1],5e9e4502f5090995de566f86,1,FalconSat,2006-03-24T22:30:00.000Z,1143239400,2006-03-25T10:30:00+12:00,hour,False,"[{'core': '5e9e289df35918033d3b2623', 'flight'...",True,False,None,5eb87cd9ffd86e000604b32a,False,False,False,[]
1,{'patch': {'small': 'https://images2.imgbox.co...,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,0.0,"[{'time': 301, 'altitude': 289, 'reason': 'har...",Successful first stage burn and transition to ...,[],[],[],[5eb0e4b6b6c3bb0006eeb1e2],5e9e4502f5090995de566f86,2,DemoSat,2007-03-21T01:10:00.000Z,1174439400,2007-03-21T13:10:00+12:00,hour,False,"[{'core': '5e9e289ef35918416a3b2624', 'flight'...",True,False,None,5eb87cdaffd86e000604b32b,False,False,False,[]

### Hacemos lo mismo con el resto de columnas

1- Primero las dividimos

In [131]:
lista_dividir= ['links', 'failures', 'cores']
columnas_divididas = {}

for columna in lista_dividir: 
    columnas_divididas = df2[lista_dividir].apply(lambda x: pd.Series(x, dtype=object))

2 - Después unimos los DataFrame (el original y el nuevo) y eliminamos las anteriores columnas que ahora

In [132]:
df3 = pd.concat([df2.drop(columns=['links']), fairings_convertido], axis=1)
df3.head(2)

,static_fire_date_utc,static_fire_date_unix,net,window,rocket,success,failures,details,crew,ships,capsules,payloads,launchpad,flight_number,name,date_utc,date_unix,date_local,date_precision,upcoming,cores,auto_update,tbd,launch_library_id,id,reused,recovery_attempt,recovered,ships,reused,recovery_attempt,recovered,ships
0,2006-03-17T00:00:00.000Z,1.142554e+09,False,0.0,5e9d0d95eda69955f709d1eb,0.0,"[{'time': 33, 'altitude': None, 'reason': 'mer...",Engine failure at 33 seconds and loss of vehicle,[],[],[],[5eb0e4b5b6c3bb0006eeb1e1],5e9e4502f5090995de566f86,1,FalconSat,2006-03-24T22:30:00.000Z,1143239400,2006-03-25T10:30:00+12:00,hour,False,"[{'core': '5e9e289df35918033d3b2623', 'flight'...",True,False,None,5eb87cd9ffd86e000604b32a,False,False,False,[],False,False,False,[]
1,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,0.0,"[{'time': 301, 'altitude': 289, 'reason': 'har...",Successful first stage burn and transition to ...,[],[],[],[5eb0e4b6b6c3bb0006eeb1e2],5e9e4502f5090995de566f86,2,DemoSat,2007-03-21T01:10:00.000Z,1174439400,2007-03-21T13:10:00+12:00,hour,False,"[{'core': '5e9e289ef35918416a3b2624', 'flight'...",True,False,None,5eb87cdaffd86e000604b32b,False,False,False,[],False,False,False,[]

In [133]:
df4 = pd.concat([df3.drop(columns=['failures']), fairings_convertido], axis=1)
df4.head(2)

,static_fire_date_utc,static_fire_date_unix,net,window,rocket,success,details,crew,ships,capsules,payloads,launchpad,flight_number,name,date_utc,date_unix,date_local,date_precision,upcoming,cores,auto_update,tbd,launch_library_id,id,reused,recovery_attempt,recovered,ships,reused,recovery_attempt,recovered,ships,reused,recovery_attempt,recovered,ships
0,2006-03-17T00:00:00.000Z,1.142554e+09,False,0.0,5e9d0d95eda69955f709d1eb,0.0,Engine failure at 33 seconds and loss of vehicle,[],[],[],[5eb0e4b5b6c3bb0006eeb1e1],5e9e4502f5090995de566f86,1,FalconSat,2006-03-24T22:30:00.000Z,1143239400,2006-03-25T10:30:00+12:00,hour,False,"[{'core': '5e9e289df35918033d3b2623', 'flight'...",True,False,None,5eb87cd9ffd86e000604b32a,False,False,False,[],False,False,False,[],False,False,False,[]
1,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,0.0,Successful first stage burn and transition to ...,[],[],[],[5eb0e4b6b6c3bb0006eeb1e2],5e9e4502f5090995de566f86,2,DemoSat,2007-03-21T01:10:00.000Z,1174439400,2007-03-21T13:10:00+12:00,hour,False,"[{'core': '5e9e289ef35918416a3b2624', 'flight'...",True,False,None,5eb87cdaffd86e000604b32b,False,False,False,[],False,False,False,[],False,False,False,[]

In [134]:
df5 = pd.concat([df4.drop(columns=['cores']), fairings_convertido], axis=1)
df5.head(2)

,static_fire_date_utc,static_fire_date_unix,net,window,rocket,success,details,crew,ships,capsules,payloads,launchpad,flight_number,name,date_utc,date_unix,date_local,date_precision,upcoming,auto_update,tbd,launch_library_id,id,reused,recovery_attempt,recovered,ships,reused,recovery_attempt,recovered,ships,reused,recovery_attempt,recovered,ships,reused,recovery_attempt,recovered,ships
0,2006-03-17T00:00:00.000Z,1.142554e+09,False,0.0,5e9d0d95eda69955f709d1eb,0.0,Engine failure at 33 seconds and loss of vehicle,[],[],[],[5eb0e4b5b6c3bb0006eeb1e1],5e9e4502f5090995de566f86,1,FalconSat,2006-03-24T22:30:00.000Z,1143239400,2006-03-25T10:30:00+12:00,hour,False,True,False,None,5eb87cd9ffd86e000604b32a,False,False,False,[],False,False,False,[],False,False,False,[],False,False,False,[]
1,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,0.0,Successful first stage burn and transition to ...,[],[],[],[5eb0e4b6b6c3bb0006eeb1e2],5e9e4502f5090995de566f86,2,DemoSat,2007-03-21T01:10:00.000Z,1174439400,2007-03-21T13:10:00+12:00,hour,False,True,False,None,5eb87cdaffd86e000604b32b,False,False,False,[],False,False,False,[],False,False,False,[],False,False,False,[]